<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div class="wrap" >
    <h1>商户登录</h1>
    <fieldset>
        <form>
            <p id="loginUsername">用户名: <input type="text" name="username" /></p>
            <p id="loginPassword">密&nbsp;&nbsp;&nbsp;&nbsp;码: <input type="text" name="password" /></p>
            <button type="button" id="submit">登录</button>&nbsp;&nbsp;&nbsp;
            <input type="button" id="register" value="注册" />
        </form>
    </fieldset>
    <fieldset id="res-field" style="display: none">
        <form>
            <p id="resUsername">用户名: <input type="text" name="username" /></p>
            <p id="resPassword">密&nbsp;&nbsp;&nbsp;&nbsp;码: <input type="text" name="password" /></p>
            <p id="resRepassword">重复密码: <input type="text" name="repasswod" /></p>
            <button type="button" id="resSubmit">提交</button>&nbsp;&nbsp;&nbsp;
            <input type="button" id="close" value="关闭" />
        </form>
    </fieldset>
</div>
</body>
</html>
<script src="js/jquery-3.4.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            $.post("/saler/login",{
                username: $("#loginUsername").val(),
                password: $("#loginPassword").val()
            },function(res) {
                window.location.reload();
            }).fail(function () {
                window.alert("请重新输入")
            });
        });
        $("#register").click(function () {
            $("#res-field").css("display","block");
        });
        $("#close").click(function () {
            $("#res-field").css("display","none");
        });
    });
</script>
